<%- include ("../partials/header") %>
<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href='/apartments/<%= apartment._id %>/shares/new'>Add new Share to <%= apartment.name %></a>
				</div>
					
				<div>
					<h1>
						<% apartment.name %>
					</h1>
					<% apartment.shares.forEach(function(share){ %>
						<div class="row">
							<div class="col-md-12">

									<span class="pull-right"><%= share.time %></span>
								<% if(currentUser && share.author.id.equals(currentUser._id)){ %>
								
									<a class="btn btn-xs btn-warning" href="/apartments/<%=apartment._id%>/shares/<%=share._id %>/edit">Edit</a>
									<form id="deleteForm" action="/apartments/<%=apartment._id%>/shares/<%=share._id %>?_method=DELETE" method="POST">

										<input type="submit" class="btn btn-xs btn-danger" value="Delete">
									</form>	
								
								<% } %>
							
									<p>
										 <a class="navbar-nav" href="/apartments/<%= apartment._id %>/shares/<%= share._id %>/details"><%= share.title %></a>
									</p>

							</div>
						</div>	

					<% }) %>
				</div>
</div>

<%- include ("../partials/footer") %>