<%- include ("../partials/header") %>
<div class = "col-sm-4 center-block">
	<a type="button" class= "btn btn-success btn-sm" href="/apartments">
		Choose an apartment to add a share
	</a>
</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">UserName</th>
				<th scope="col">Time</th>
			</tr>
		</thead>	
		<tbody>
			<% shares.forEach(function(share){ %>

				<tr>
				  	<td><a href="/apartments/<%= share.apartmentId %>/shares/<%= share._id %>/details"> <%= share.title %> </a></td>
					
					<td><%= share.author.username %></td>
					<td><%= share.time %></td>
				</tr>

			<% }) %>
		</tbody>
	</table>





<%- include ("../partials/footer") %>