<%- include("../partials/header") %>

<div class="container">

	<header class="jumbotron pic">
		<div class="container" style="color: dark;">
			<h1>Welcome to OSU Renting!</h1>
			<p>View comprehensive information of the most popular apartments</p>
			<p>
				<a class="btn btn-primary btn-md" href='/apartments/new'>Add New Apartment</a>
				<a class="btn btn-primary btn-md" href='/shares'>View Shared Information</a>
			</p>
		</div>
	</header>
	
	
	
	<div class="row">
		<div class="col-lg-12" style="color: silver;">
			<h3>
				Most Popular apartment Recommendation!
			</h3>
		</div>
	</div>
	
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% apartments.forEach(function(apartment){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail" >
					<img src="<%= apartment.image %>">
					<div class="caption">
						<h4>
							<a href="/apartments/<%= apartment._id %>" class="myBtn"><%= apartment.name %></a>
						</h4>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<%- include("../partials/footer") %>